---
import PortableTextRenderer from '../ui/PortableTextRenderer.vue'

interface Props {
  title: string
  description: string
  image?: string 
  category?: { title: string }
  tags?: { title: string }[]
  body?: any[]
}


const { title, description, image, category, tags, body } = Astro.props
---

<section class="section">
  <h1 class=".heading_xl">{title}</h1>
  <div class="portable-text-simple go_side">
  <p>{description}</p>
 </div>

<div>{category && <span class="category">{category.title}</span>}

{tags && tags.length > 0 && (
    <div class="tags">
      {tags.map(tag => (
        <span class="tag">{tag.title}</span>
      ))}
    </div>
  )}
</div>
</section>

<section class="poster_section">
 <div class="image_wrapper">{image && <img src={image} alt={title} />    }</div>
</section>

<section class="go_side">
  <div class="portable-text-simple">
  <PortableTextRenderer body={body} client:load />
  </div>
</section>


<style>
.heading_xl {
  display: flex;
  align-items: start;
  width: 100%;
  font-size: var(--text-6xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--space-2);
  padding-left: var(--space-8);
}

img .image_wrapper{
  width: 100%;
  height: 40vh;
}
  

  @media (max-width: 768px) {
  .heading_xl {
  padding-left: var(--space-1);
}

  }
  @media (max-width: 480px) {

}
</style>