---
import MobileMenu from "./MobileMenu.vue"

interface Props {
  links: { label: string; href: string }[]
  logo?: string;
  currentPath: string;
}
const { links, logo, currentPath: rawPath } = Astro.props;
const currentPath = rawPath.replace(/\/$/, "");
console.log("currentPath:", currentPath);
console.log("links:", links.map(l => l.href));
---

<header class="navbar">
  <div class="navbar__inner">

   <a href="/" class="navbar__logo">
  {logo ? <img src={logo} alt="Logo" /> : "YourLogo"}
</a>

    <!-- Desktop links -->
<nav class="navbar__links">
  {links.map(link => (
    
   <a href={link.href}
  class:list={["navbar__link", { "navbar__link--active": currentPath === link.href.replace(/\/$/, "") }]}
  aria-current={currentPath === link.href.replace(/\/$/, "") ? "page" : undefined}
>
  {link.label}
</a>
  ))}
</nav>

<!-- Mobile menu -->
<MobileMenu client:load links={links} currentPath={currentPath} />

  </div>
</header>

<style>
  .navbar {
    display: flex;
    position: relative;
    top: 0;
    z-index: 50;
    padding: var(--space-4);
    width: 100%;
  }

  .navbar__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    height: auto;
    display: flex;
    align-items: center;
  }

  .navbar__logo img {
   width: 13rem;
   height: auto;
  }

  .navbar__links {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  .navbar__links a {
    font-size: var(--text-s);
    font-weight: 600;
    text-decoration: none;
    transition: opacity 0.15s ease;
  }

  .navbar__links a:hover { 
    text-decoration: underline;
    text-underline-offset: var(--space-2);
    text-decoration-thickness: 3px;
  }
.navbar__links a.navbar__link--active {
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-underline-offset: var(--space-2);
    text-decoration-thickness: 3px;
}

  /* Hide desktop links on mobile */
  @media (max-width: 768px) {
    .navbar__links { display: none; }
  }
</style>
